## Assignment 1

##### For Week of Aug 21: Data acquisition and inspection

In [1]:
import pandas as pd
df = pd.read_csv('pincode.csv', low_memory=False)

In [2]:
row,col = df.shape
print("Row count : ",row)
print("Column count : ",col)

Row count 157126
Column count 11

In [3]:
print("List of column names: ")
for col in df.columns:
    print(col)

List of column names:
CircleName
RegionName
DivisionName
OfficeName
Pincode
OfficeType
Delivery
District
StateName
Latitude
Longitude

In [4]:
df.isna().any(axis=1).sum()

8900

##### For Week of Aug 28: Data cleaning

In [5]:
df = pd.read_csv('pincode.csv', dtype = {"Latitude": str, "Longitude": str})

In [6]:
df.isna().any(axis=1).sum()

8900

In [7]:
df = df.dropna() #dropping all rows with null values

In [8]:
df.isna().any(axis=1).sum()

0

In [9]:
df = df.reset_index(drop=True) #drop=True will make sure the old index is dropped and the new one replaces it
print(df)

                   CircleName       RegionName       DivisionName  \
0       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
1       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
2       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
3       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
4       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
...                       ...              ...                ...
148221   Uttar Pradesh Circle  Bareilly Region    Meerut Division
148222   Uttar Pradesh Circle  Bareilly Region    Meerut Division
148223   Uttar Pradesh Circle  Bareilly Region    Meerut Division
148224          Kerala Circle   Calicut Region   Calicut Division
148225          Kerala Circle   Calicut Region   Calicut Division

                 OfficeName  Pincode OfficeType      Delivery   District  \
0            Peddakotla B.O   515631         BO      Delivery  ANANTAPUR
1            Pinnadhari B.O   515631         BO      Delivery  ANANTAPUR
2       Yerraguntapalle B.O   515631         BO      Delivery  ANANTAPUR
3       Obulareddipalli B.O   515581         BO      Delivery  ANANTAPUR
4            Odulapalli B.O   515581         BO      Delivery  ANANTAPUR
...                     ...      ...        ...           ...        ...
148221   Rly Road Meerut SO   250002         PO  Non Delivery     MEERUT
148222           SGMandi SO   250002         PO  Non Delivery     MEERUT
148223          W K Road SO   250001         PO  Non Delivery     MEERUT
148224           Kakkoti SO   673611         PO      Delivery  KOZHIKODE
148225         Kotuvalli SO   673572         PO      Delivery  KOZHIKODE

             StateName    Latitude   Longitude
0       ANDHRA PRADESH     14.5689    77.85624
1       ANDHRA PRADESH     14.5281   77.857014
2       ANDHRA PRADESH   14.561111    77.85715
3       ANDHRA PRADESH     14.2488     78.2588
4       ANDHRA PRADESH    14.24555     78.2477
...                ...         ...         ...
148221   UTTAR PRADESH  28.9800000  77.6800000
148222   UTTAR PRADESH  28.9724000  77.6753600
148223   UTTAR PRADESH  28.9900000  77.7100000
148224          KERALA  11.2452900  75.7784550
148225          KERALA  11.3500000  75.9100000

[148226 rows x 11 columns]

In [10]:
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float) 
#running into problems where the data is of different forms than can't be directly converted to float

ValueError: could not convert string to float: '21.9161 N'

In [11]:
import re

#converting the Latitude and Longitude columns back to string
df['Latitude'] = df['Latitude'].astype(str)
df['Longitude'] = df['Longitude'].astype(str)

print(df["Latitude"].dtype)

object

In [12]:
#extracting the float part of all strings in Latitude and Longitude columns
extractAfloat = lambda s:re.findall(r"[-+]?(?:\d*\.*\d+)",s)[0]
df['Latitude'] = df["Latitude"].apply(extractAfloat)
df['Longitude'] = df["Longitude"].apply(extractAfloat)

In [13]:
#converting again to float - can see that the dtype has changed, with no errors thrown
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float) 

print(df["Latitude"].dtype)

float64