In [1]:
import pandas as pd

In [2]:
#!pip install openpyxl

In [3]:
df = pd.read_excel("200 participant collected data.xlsx", usecols=["Gender","Height (cm) (average of 3 measurments)"]) 
df.head()
df2 = df.rename(columns={"Height (cm) (average of 3 measurments)":"Height"})
df2.head()

  Gender      Height
0   Male  174.000000
1   Male  202.000000
2   Male  182.333333
3   Male  184.000000
4   Male  180.666667

#### Data Cleaning

In [4]:
df2["Gender"] = df2["Gender"].str.capitalize()
df2.head()

  Gender      Height
0   Male  174.000000
1   Male  202.000000
2   Male  182.333333
3   Male  184.000000
4   Male  180.666667

#### 1D Data Visualisation

In [5]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe' # or 'colab' or 'iframe' or 'iframe_connected' or 'sphinx_gallery'

In [6]:
px.histogram(df2,x="Height", nbins=20, color="Gender")

In [7]:
px.box(df2,x="Height", color="Gender")

In [8]:
px.violin(df2,x="Height", color="Gender", box=True, points="all")